.container{
  font-size: 14px;

  :global{
    .notice {
      margin-top: 30px;
      text-align: center;
      color: #4fc08d;
      font-size: 12px;
    }

    .left-side,
    .right-side{
      float: left;
      padding: 20px 15px 10px 15px;
      border: 1px solid #eee;
      border-radius: 5px;
      background-color: #fff;
    }

    .left-side{
      margin-right: 10%;
      width: 30%;
    }

    .right-side{
      width: 55%;
    }

    .icon-edit{
      float: right;
      position: relative;
      top: -10px;
      right: -5px;
      font-size: 16px;
      color: #42b983;
    }

    .personal-info{
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;
    }

    .personal-team{
      padding-top: 10px;
    }

    .name{
      margin-bottom: 5px;
      font-size: 18px;
    }

    .title{
      font-size: 16px;
    }

    .repos-wrap,
    .collections-wrap{
      margin-left: 3%;
    }

    .avatars{
      margin-top: 10px;
    }

    .team-avatar{
      width: 35px;
      height: 35px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}
