.card {
  display: inline;
  padding-left: 3px;
  position: relative;

  :global {
    .title {
      padding: 0 10px;
    }

    .dotted-line {
      display: inline-block;
      position: absolute;
      top: 10px;
      width: 710px;
      height: 1px;
      border-top: 1px dashed #aaa;
    }
  }
}
