.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  :global {
    .subHeader-title {
      margin-bottom: 15px;
      font-size: 18px;
    }

    .ant-alert.ant-alert-no-icon {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .left-side,
    .right-side{
      margin-top: 10px;
      display: inline-block;
      vertical-align: top;
    }

    .left-side{
      margin-right: 5%;
      width: 65%;
    }

    .right-side{
      width: 30%;
    }
  }
}
