.container {
  :global {
    .left-side,
    .right-side{
      margin-top: 10px;
      display: inline-block;
      vertical-align: top;
    }

    .left-side{
      margin-right: 5%;
      width: 65%;
      padding: 10px 15px;
    }

    .right-side{
      padding-top: 10px;
      width: 30%;
    }
  }
}
