:global {
  .none-notice {
    color: #4fc08d;
  }
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  // padding: 0 30px;

  :global{
    .ant-row > div {
      padding: 0 15px;
    }

    .ant-card{
      margin-bottom: 30px;
    }

    .ant-card-body {
      height: 100px;
    }

    .title {
      margin-bottom: 55px;
      text-align: center;
      font-size: 22px;
    }

    .earth {
      background-image: url('../../images/earth.svg');
      width: 48px;
      height: 48px;
      margin-top: 15px;
      margin-left: 47.5%;
    }
  }
}
