.container{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  // padding: 30px 0;
  // border: 1px solid #dafccc;
  // background-color: #f0edfe;
  border-radius: 5px;

  :global{
    .title{
      font-size: 18px;
    }
  }
}

.repoContainer{
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  :global{
    .ant-tabs-nav .ant-tabs-tab:hover,
    .ant-tabs-nav .ant-tabs-tab-active{
      color: #68D578;
    }

    .ant-tabs-ink-bar{
      background-color: #68D578;
    }

    .create-doc-button{
      float: right;
      margin-bottom: 10px;
    }

    .repo-content{
      clear: both;
      padding: 5px;
      border: 1px solid #eee;
      border-radius: 5px;
    }

    .repoName{
      text-align: center;
      font-size: 25px;
    }

    .repoIntro{
      text-align: center;
      font-size: 18px;
    }

    .docs{
      font-size: 14px;
      margin: 25px 0 10px 1.5%;
    }

  }
}
