.repoContainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  :global{
    .none-notice {
      margin-bottom: 30px;
      text-align: center;
    }

    .create-doc-button{
      float: right;
      margin-bottom: 10px;
    }

    .icon-collect{
      float: right;
      position: relative;
      top: 10px;
      right: 18px;
      font-size: 16px;
      cursor: pointer;
    }

    .icon-collect.collected {
      color: #21c97e;
    }

    .word-collect {
      float: right;
      position: relative;
      top: 25px;
      left: 2px;
      font-size: 12px;
      color: #8e8e8e;
    }

    .word-collected {
      left: 8px;
    }

    .repo-content{
      clear: both;
      padding: 5px 30px;
      border: 1px solid #eee;
      border-radius: 5px;
      background-color: #fff;
    }

    .repoName {
      margin-bottom: 10px;
      text-align: center;
      font-size: 25px;
    }

    .repoIntro {
      text-align: center;
      font-size: 14px;
    }

    .docs{
      margin: 50px 0 10px 1.5%;
      font-size: 14px;
      line-height: 1.8;
    }

    .operate-area {
      float: right;
    }

    .icon-edit-doc{
      margin-right: 20px;
    }

    .date {
      font-size: 12px;
      color: #636363;
      margin-left: 20px;
    }

    .avatar {
      margin-top: 15px;
      text-align: center;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }
}
