.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  :global{
    .title{
      margin-bottom: 20px;
      margin-left: 104px;
      font-size: 20px;
    }

    .ant-btn.ant-btn-primary.ant-btn-lg.team-button {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
