.container{
  :global{
    .left-side,
    .right-side{
      float: left;
      border: 1px solid #eee;
      border-radius: 5px;
      background-color: #fff;
    }

    .left-side{
      margin-right: 8%;
      width: 60%;
      padding: 10px 15px;
    }

    .right-side{
      padding-top: 10px;
      width: 25%;
    }

    .tag-member{
      padding-bottom: 5px;
      padding-left: 15px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
    }

    .members{
      padding: 10px 15px;
    }
  }
}
