.container{
  :global{
    .button-wrapper{
      width: 60%;
    }

    .add-button{
      float: right;
    }

    .left-side,
    .right-side{
      margin-top: 10px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #eee;
      border-radius: 5px;
      background-color: #fff;
      clear: both;
    }

    .left-side{
      margin-right: 8%;
      width: 60%;
      padding: 10px 15px;
    }

    .right-side{
      padding-top: 10px;
      width: 25%;
    }

    .tag-member{
      padding-bottom: 5px;
      padding-left: 15px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
    }

    .members{
      padding: 10px 15px;
    }

    .member{
      margin-bottom: 8px;
    }

    .member-list{
      font-size: 14px;
    }

    .avatars{
      width: 35px;
      height: 35px;
      margin-right: 10px;
      border-radius: 50%;
    }

    .user-avatar{
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 10px;
      border-radius: 50%;
    }

    .nickName{
      display: inline-block;
      width: 43%;
    }

    .delete{
      float: right;
      margin-right: 10px;
      color: #ccc;
      cursor: pointer;
    }
  }
}
