@border-width: 2px;
@line-height: 28px;

.container{
  margin-left: 3%;
  font-size: 14px;
  line-height: @line-height;

  .lineUp {
    border-top: @border-width solid #21c97e;
    line-height: @line-height - @border-width;
  }

  .lineDown {
    border-bottom: @border-width solid #21c97e;
    line-height: @line-height - @border-width;
  }

  .border {
    border: @border-width solid #21c97e;
    line-height: @line-height - 2 * @border-width;
  }

  :global{
    .notice{
      margin-bottom: 10px;
      font-size: 12px;
      color: #8e8e8e;
    }

    .star {
      margin-right: 5px;
      color: red;
    }

    .rank1 {
    }

    .rank2 {
      margin-left: 25px;
    }

    .notice-mssage {
      text-align: center;
      margin-bottom: 50px;
      color: #4fc08d;
    }

    .catalog-index {
      float: right;
    }

  }
}
