.container{
  :global{
    .doc{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 20px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: 5px;
    }

    .content{
      margin-top: 20px;
      font-size: 14px;
    }
  }
}
