.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  :global{
    .CodeMirror,
    .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word){
      background-color: inherit;
    }

    .ant-input{
      background-color: inherit;
    }

    .editor{
      clear: both;
    }

    .title{
      margin-left: 2px;
      font-size: 15px;
    }

    .save,
    .publish{
      float: right;
      margin-bottom: 10px;
    }

    .save{
      margin-right: 15px;
    }

    .editor {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.8;
    }

    .CodeMirror,
    .CodeMirror-fullscreen,
    .editor-preview-side,
    .editor-toolbar {
      background-color: #fff;
    }

    .CodeMirror .CodeMirror-code .cm-link {
      color: #54becc;
    }

    .cm-tag,
    .cm-attribute,
    .cm-string,
    .cm-link {
      font-family: monospace;
    }
  }
}
