
:global {
  html, body, #root {
    height: 100%;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "Hiragino Sans GB",  "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  }
  body {
    background: #fafafa;
  }

  body .ant-btn-primary,
  body .ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: #68D578;
    border-color: #68D578;
  }

  body a{
    color: inherit;
  }
}
