:global {
  body .ant-confirm .ant-btn.ant-btn-primary.ant-btn-lg {
    display: none;
  }

  body .ant-confirm.ant-confirm-info {
    text-align: center;
  }

  body .ant-confirm .anticon-info-circle:before {
    display: none;
  }

  a:hover {
    color: #82c9a7;
  }
}

.head a,
.head a:hover{
  color: #fff;
}

.main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  margin-top: 20px;
  padding: 8px;
}

.head {
  margin-bottom: 50px;
  height: 45px;
  line-height: 45px;
  padding-left: 145px;
  padding-right: 100px;
  background: #21c97e;
  color: #fff;

  :global{
    .title{
      display: inline-block;
      font-size: 17px;
    }

    .right{
      float: right;
      width: 450px;
      font-size: 14px;
    }

    .user img {
      margin-top: 8px;
      margin-right: 8px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    .nickname {
      display: inline-block;
      position: relative;
      top: -8px;
    }
  }
}

.modal {
  :global {
    .qq {
      margin-left: 110px;
      margin-top: 30px;
      width: 48px;
      height: 48px;
      background-image: url('../images/qq.svg');
    }

    .notice {
      position: relative;
      left: -22px;
    }
  }
}
